<div id="card-popup" class="hidden card-popup">
    <div id="card-header" class="row">
        <ul class="card-wrapper">
            <li><h1>{{ card.name }}</li>
        {% if current_user.is_authenticated and card.owner_id == current_user.id %}
            <li>
                <svg xmlns="http://www.w3.org/2000/svg" class="edit-card" fill="white" viewBox="0 0 306.637 306.637" style="enable-background:new 0 0 306.637 306.637" xml:space="preserve">
                    <path d="M12.809 238.52 0 306.637l68.118-12.809 184.277-184.277-55.309-55.309L12.809 238.52zm47.981 41.423-41.992 7.896 7.896-41.992L197.086 75.455l34.096 34.096L60.79 279.943zM251.329 0l-41.507 41.507 55.308 55.308 41.507-41.507L251.329 0zm-20.294 41.507 20.294-20.294 34.095 34.095-20.294 20.294-34.095-34.095z"/>
                </svg>                  
            </li>
        {% endif %}
    </div>
    <div id="card-content" class="row">
        <div id="card-content-left" class="col">
            <img id="cardholder-img" src="{{ url_for('static', filename='img/default.png') }}" alt="">
            <br>
            <span>
                <h3 id="cardholder-name">{{ card.main }}</h3>
            </span>
        </div>
        <div id="card-content-right" class="col">
            <span>
                <h4>информация</h4>
                <p>{{ card.description }}</p>
            </span>
            <span>
                <h4>телефон</h4>
                <p>{{ card.phone }}</p>
            </span>
            <span>
                <h4>email</h4>
                <p>{{ card.mail }}</p>
            </span>
        </div>
    </div>
</div>
