<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{{card.title}}</title>
</head>

<body>
    <div class="content-wrapper">
        <h1>Карта #{{card.id}}</h1>

        <hr>

        <b>{{card.main}}</b>
        {{card.description}}<br>
        <hr>
        Телефон: {{card.phone}}<br>
        Email: {{card.mail}}<br>
        <hr>
        VK: {{card.site_vk}}<br>
        Instagram: {{card.site_instagram}}<br>
        Telegram: {{card.site_telegram}}<br>
        Discord: {{card.site_discord}}
    </div>
</body>

</html>