{% extends "base.html" %}

{% block content %}

<main class="main-layout">
    <h1>Карта #{{ card.id }}</h1>

    <hr>
    <br>

    <h2>Информация</h2>
    <div id="settings">
        ID карты: #{{ card.id }} <br/>
        Название карты: {{ card.name }} <br/>
        Владелец карты: {{ card.user.name }}
    </div>

    <hr>
    <br>

    <h2>Настройки</h2>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description(class="form-control") }}<br>
            {% for error in form.description.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.phone.label }}<br>
            {{ form.phone(class="form-control") }}<br>
            {% for error in form.phone.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{message}}
    </form>
</main>

{% endblock %}
