@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');

:root {
    --light-clr: #E8E8E8;
    --contrast-dark-clr: #6C7A89;
    --item-lighter-fill: #C4C4C4;
    --item-darker-fill: #95A5A6;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--light-clr);
    padding: 0 20%;
}

h1 {
    font-weight: 700;
}

.content-wrapper {
    min-width: 60%;
    display: flex;
    flex-direction: column;
    margin: 5vh 0;
}

.content-wrapper hr {
    width: 100%;
    border: 2px solid var(--contrast-dark-clr);
    border-radius: 4px;
}

#main-header {
    width: 100%;
}

.nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav-elem {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    font-style: normal;
    padding: 5px 20px;
    margin: 9px;
    background: none;
    border: 5px solid var(--contrast-dark-clr);
    color: #000;
    box-sizing: border-box;
    border-radius: 100px;
    white-space: nowrap;
    transition: 0.1s;
    cursor: pointer;
}

.nav-elem:hover, .nav-elem:active {
    background-color: var(--contrast-dark-clr);
    color: #fff !important;
    text-decoration: none;
}

#cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.card:nth-child(1) {
    margin: 0;
}

.card:nth-child(1n) {
    background-color: var(--item-lighter-fill);
}

.card:nth-child(2n) {
    background-color: var(--item-darker-fill);
}

.card:nth-child(3n) {
    background-color: var(--contrast-dark-clr);
}

.card {
    display: block;
    width: 700px;
    height: 400px;
    border-radius: 50px;
    margin-top: -25vh;
    border: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-10%);
}

.card h1 {
    color: var(--light-clr);
    text-transform: lowercase;
}

.card-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 5% 7%;
    list-style: none;
}

.card-wrapper li {
    display: inline-flex;
    height: auto;
}

.edit-name-btn {
    fill: var(--light-clr);
    max-height: 3vh;
}

#fadeout {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: var(--contrast-dark-clr);
    opacity: 45%;
    z-index: 3;
}

.card-popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    height: 70vh;
    background-color: var(--light-clr);
    border-radius: 50px;
    border: 1px solid var(--contrast-dark-clr);
    z-index: 4;
    padding: 5%;
}

.hidden {
    display: none;
} 


@media (max-width: 800px) {
    .card {
        width: 100vw;
        height: 250px;
    }
}